* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    ion-icon {
        border: none;
    }
}


.header {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    justify-content: space-between;


    .logo {
        width: 10dvw;
        height: 100%;
        font-size: 10dvh;
        margin-left: 3%;
    }

    .nav {
        width: 60dvw;
        height: 100%;
        display: flex;
        justify-content: end;


        .text {
            width: 80%;
            height: 100%;
            

            p {
                border: none;
                font-size: 30px;
                text-align: end;
            }

            .down {
                display: flex;
                justify-content: space-around;
                border: none;
                p {

                    font-size: 6dvh;
                }
            }
        }

        .icon {
            width: 10%;
            height: 100%;
            font-size: 10dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background: rgb(38, 38, 119);
        }
    }
}